{% extends _request.isAjax ? "blank.twig" : "base.twig" %}
{%block body%}

<div role="pdf-editor">
{%for page in fileView%}
	<div role="pdf-editor-page" data-image="/managment/form/add/finish/image/{{page}}"></div>
{%endfor%}

{%for field in entity.fields%}
	<div role="pdf-editor-component" data-name="{{field.name}}" data-position-x="{{field.positionX}}" data-position-y="{{field.positionY}}" data-font-size="{{field.fontSize}}" data-max-length="{{field.maxLength}}" data-space="{{field.space}}" data-page="{{field.page}}"></div>
{%endfor%}

</div>

{%endblock%}